#container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.col {
    height: 50px;
    width: 50px;
    border-radius: 50%;
 /* Added margin for spacing between balls */
}

/* Added a default background color for the balls */
.col {
    background-color: #AB1234; /* Initial color */
}
